* {
  margin: 0;
  padding: 0;
}
nav,
body {
  background-color: rgb(157, 193, 235);
}
header {
}

section {
  background-color: #f4eee8;
  height: auto;
}
img {
  width: 100%;
}
td {
  font-size: larger;
}
p {
  color: black;
}
h1 {
  font-family: cursive, sans-serif;
  color: #5c5c5c;
}
input {
  width: inherit;
}
footer {
  position: relative;
  margin-bottom: 0;
  background-color: #5c5c5c;
  height: 12%;
}
