{% extends 'base.html' %} {% block content %}

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 mb-3">About</h1>
      <p class="col-lg-10 fs-4">About us.</p>
    </div>

    <div class="col-md-10 mx-auto col-lg-5">
      <h2>LeisureCentre Services</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium
        architecto, quos tempora suscipit, illo ea repellat dicta sapiente, odio
        deserunt sed cum tempore totam? Aut harum quam eius fugit expedita
        impedit iste et esse tenetur non, in possimus nostrum soluta dolorum!
        Iusto laudantium quia a odit iste quam fuga natus, et iure porro
        cupiditate sed architecto? Qui sequi quidem modi exercitationem esse
        ipsa quia dolorem consequuntur maxime, aliquid beatae in nesciunt
        ducimus deleniti dolorum! Dolorem ut, dolores tenetur at laudantium qui
        obcaecati. Iusto reprehenderit nulla accusantium ex aperiam quasi ab
        magni error. Ipsum fugit earum excepturi possimus perferendis facere
        voluptatum harum? Veritatis harum, odio quis voluptas doloribus
        aspernatur quod aut nostrum? Harum, possimus omnis velit, animi ad iusto
        sunt quos vitae reprehenderit optio itaque cumque officiis nostrum
        voluptatem nemo quasi. Nesciunt optio qui consectetur ad numquam dolorem
        unde id molestiae assumenda et quia, iusto officia quibusdam quo
        distinctio? Aliquid officia cupiditate numquam dignissimos, recusandae
        error sit! Commodi natus vero nisi eveniet nesciunt voluptates autem,
        non qui aliquid doloribus voluptate minus eos cumque sapiente saepe
        dolorum quidem doloremque eaque et est nostrum ipsa molestiae fuga eius?
        Alias optio sunt tempora similique ab enim. Non est dignissimos ducimus
        quas eaque neque accusamus dicta. Quis nemo impedit, officia rem dolore
        provident maiores odit animi unde, adipisci delectus quia consequuntur
        excepturi nobis maxime, iusto reiciendis repellat ipsa sed ipsam
        dolorum. Repellendus dignissimos recusandae libero explicabo. Alias
        optio sunt tempora similique ab enim. Non est dignissimos ducimus quas
        eaque neque accusamus dicta. Quis nemo impedit, officia rem dolore
        provident maiores odit animi unde, adipisci delectus quia consequuntur
        excepturi nobis maxime, iusto reiciendis repellat ipsa sed ipsam
        dolorum. Repellendus dignissimos recusandae libero explicabo.
      </p>
      <!-- <form
        action="https://formsubmit.co/dulgerfatih@gmail.com"
        method="post"
        class="p-4 p-md-5 border rounded-3 bg-light"
      >
        <div class="form-floating mb-3">
          <input
            type="text"
            class="form-control"
            name="name"
            placeholder="Type your name here"
            required
          />
          <label for="name"> Name : </label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Email Address"
            required
          />
          <label for="email"> Email :</label>
        </div>

        <div class="form-floating mb-3">
          <input
            type="_hidden"
            class="form-control"
            name="_subject"
            value=""
            placeholder="Subject"
            id="subject"
          />
          <label for="_subject">Subject:</label>
        </div>

        <div class="form-floating mb-3">
          <textarea
            placeholder="Your Message"
            class="form-control"
            name="message"
            rows="8"
            cols="34"
            required
          ></textarea>
          <label for="message">Message:</label>
        </div>

        <div class="form-floating mb-3"></div>

        <div class="form-floating mb-3"></div>
        <div class="form-floating mb-3"></div>

        <div class="form-floating mb-3"></div>

        <div class="form-floating mb-3"></div>

        <div class="form-floating mb-3"></div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Send</button>
        <hr class="my-4" />
        <small class="text-muted">
          Add confirmation will be displayed here</small
        >
      </form> -->
    </div>
  </div>
  {% endblock content %}
</div>
